

/* //1 Annimation box rouge se déplace sur la gauche */
#box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

/* ************** */

/* //2 carré rouge annimation 2 */

#box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(63, 31, 100);
    position: absolute;

    margin-top: 10%;
}